.git-author-container.git-author-top {
  font-size: 10px;
}

.book-summary ul.summary li a:hover {
  text-decoration: none !important;
  color: #008cff;
}

.treeview__container {
  margin-bottom: 0px;
}

.book-summary ul.summary li a.gitbook-link{
  display: none;
}

.treeview__container-title {
  display: none;
}