.git-author-container.git-author-top {
  font-size: 10px;
}

.book-summary ul.summary li a:hover {
  text-decoration: none !important;
  color: #008cff;
}

.gitbook-link {
  display: none !important;
}